
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env

__pycache__/
*.py[cod]
*$py.class
venv/
.venv/

simulation/build/
simulation/install/
simulation/log/
simulation/COLCON_IGNORE

.DS_Store
Thumbs.db
.vscode/
.idea/

docker/pgdata/